<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GridSoccer.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GridSoccer.Simulator.Properties.Settings>
            <setting name="NumCycles" serializeAs="String">
                <value>400000000</value>
            </setting>
            <setting name="CycleDuration" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaxPlayers" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MinPlayers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VisibleRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PassableDistance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumRows" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumCols" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GoalWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>5050</value>
            </setting>
            <setting name="WaitForAllPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowEpisodeTimeout" serializeAs="String">
                <value>True</value>
            </setting>
        </GridSoccer.Simulator.Properties.Settings>
    </applicationSettings>
</configuration>